.profile-detail {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile-detail-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #616b77;
  border-bottom: 1px solid #616b77;
  font-size: 26px;
  width: 100%;
  margin-top: 20px;
}

.profile-detail-menu a {
  width: 200px;
  cursor: pointer;
}
