.upload-result {
  width: 315px;
  margin: 0;
}

.card {
  border: 0px;
}

.tag-img {
  background-color: #ffcd00;
  position: absolute;
  border-radius: 50px;
  left: 10px;
  top: 10px;
  width: 120px;
  height: 35px;
  text-align: center;
}

.tag-img p {
  margin-top: 1px;
}

.card-body {
  color: white;
  background-color: #132233;
  text-align: left;
  padding: 1.25rem 0rem;
}

.card-text-footer {
  color: #a2a29f;
  font-size: 12px;
}

.logo-upload {
}
